html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
*, *::before, *::after {
    box-sizing: inherit;

} 



ul {
    margin: 0;
    padding-left: 0;
    
    
    list-style: none;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.gallery {
   
    margin-bottom: 0px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    
    padding: 12px;
}

.validation-input {
    border: 3px solid #bdbdbd;
  }
  
  .validation-input.valid {
    border-color: #4caf50;
  }
  
  .validation-input.invalid {
    border-color: #f44336;
  }